*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 100%;
	width: 100%;
}

h1{
	color: #87CEEB ;
	text-align: center;
	margin: 100px auto 50px;
	font-family: 'sans-serif';
}

.row {
	width: 85%;
	margin: auto;
	display: flex ;
	align-items: center ;
	justify-content: space-between;

}

.col{
	flex-basis: 30%;
	over-flow: hidden ;

}

.card{
	width: 350px ;
	height: 350px ;
	margin: auto ;
	perspective: 1000px ;
	cursor :pointer ;
}

.inner-box{
	position: relative ;
	width: 100% ;
	height: 100%;
	text-align: center ;
	border-radius: 10px;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card-front , .card-back {
	position: absolute ;
	width: 100%;
	height: 100%;
	backface-visibility: hidden ;
	border-radius: 10px ;
}

.card-front {
	background-position: center ;
	background-size: cover;
}

.front-1{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(mt21.png);
}

.front-2{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(contact.jpeg);
}

.front-3{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(cct.jpeg);
}

span{
	display: inline-block ;
	width: 100px;
	padding: 14px 0;
	margin-top: 200px;
	border-radius: 4px ;
	background: #87CEEB ;
	color: #333;
	transition: transform 1s;
}

.card-back{
	transform: rotateX(180deg);
}

.back-1 {
	background: #1c1f54;
}

.back-2 {
	background: #DC143C;
}

.back-3 {
	background: #93CAED;
}

.card:hover .inner-box{
	transform: rotateX(-180deg);
}

.card:hover span{
	transform: rotateY(140deg);
}

#infor{
	display: inline-block  ;
	color: yellow;
	padding-bottom: 10px ;
	border-bottom: 1px solid #fff ;
	margin-top: 100px;
	font-size: 40px;

}

#achievements{
	display: inline-block  ;
	color: black ;
	padding-bottom: 10px ;
	border-bottom: 1px solid #fff ;
	margin-top: 90px;
	font-size: 30px;

}

p{
	display: inline-block  ;
	color: #fff;
	padding-bottom: 10px ;
	border-bottom: 1px solid #fff ;
	margin-top: 100px;
	font-size: 35px;

}

.social-media img{
	width: 50px ;
	margin: 10px 5px;
}